<!DOCTYPE html>
<html html lang="pt" 
	  xmlns="http://www.w3.org/1999/html"
	  xmlns:th="http://www.thymeleaf.org">
<head>

<!-- start: Meta -->
<meta charset="UTF-8">
<title>Calcir Despachante - Clientes</title>
<meta name="description" content="Bootstrap Metro Dashboard">
<meta name="author" content="Dennis Ji">
<meta name="keyword"
	content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<!-- end: Meta -->

<!-- start: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- end: Mobile Specific -->

<!-- start: CSS -->
<link id="bootstrap-style" th:href="@{/layout/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/layout/css/bootstrap-responsive.min.css}" rel="stylesheet">
<link id="base-style" th:href="@{/layout/css/style.css}" rel="stylesheet">
<link id="base-style-responsive" th:href="@{/layout/css/style-responsive.css}" rel="stylesheet">
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext'
	rel='stylesheet' type='text/css'>
<!-- end: CSS -->


<!-- start: Favicon -->
<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
<!-- end: Favicon -->

</head>

<body>
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
				</a> <a class="brand" href="index.html"><span>Calcir
						Despachante</span></a>

				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">

						<!-- start: User Dropdown -->
						<li class="dropdown"><a class="btn dropdown-toggle"
							data-toggle="dropdown" href="#"> <i
								class="halflings-icon white user"></i> Marco Túlio <span
								class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title"><span>Account
										Settings</span></li>
								<li><a href="#"><i class="halflings-icon user"></i>
										Profile</a></li>
								<li><a href="login.html"><i class="halflings-icon off"></i>
										Logout</a></li>
							</ul></li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->

			</div>
		</div>
	</div>
	<!-- start: Header -->

	<div class="container-fluid-full">
		<div class="row-fluid">

			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="index.html"><i class="icon-bar-chart"></i><span
								class="hidden-tablet"> Dashboard</span></a></li>
						<li><a href="/CadastroCliente"><i class="icon-edit"></i><span
								class="hidden-tablet"> Cadastro de Clientes</span></a></li>
						<li><a href="/ListarClientes"><i class="icon-list-alt"></i><span
								class="hidden-tablet"> Lista de Clientes</span></a></li>
						<li><a href="/SolicitarServicos"><i
								class="icon-align-justify"></i><span class="hidden-tablet">
									Solicitar Serviços</span></a></li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Administração</span></a>
							<ul>
								<li><a class="submenu" href="/ListarServicos"><i class="icon-file-alt"></i><span class="hidden-tablet"> Gerenciamento de Serviços</span></a></li>
								<li><a class="submenu" href="/ServicosFinanceiro"><i class="icon-file-alt"></i><span class="hidden-tablet"> Financeiro</span></a></li>
							</ul>	
						</li>
						<li><a href="login.html"><i class="icon-lock"></i><span
								class="hidden-tablet"> Login Page</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->

			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>
						You need to have <a href="http://en.wikipedia.org/wiki/JavaScript"
							target="_blank">JavaScript</a> enabled to use this site.
					</p>
				</div>
			</noscript>

			<!-- start: Content -->
			<div id="content" class="span10">


				<ul class="breadcrumb">
					<li><i class="icon-home"></i> <a href="index.html">Home</a> <i
						class="icon-angle-right"></i></li>
					<li><i class="icon-edit"></i> <a href="#">Registrar
							Serviço</a></li>
				</ul>

				<div class="row-fluid sortable">
					<div class="box span12">
						<div class="box-header" data-original-title>
							<h2>
								<i class="halflings-icon white edit"></i><span class="break"></span>Registrar
								Serviço
							</h2>
							<div class="box-icon">
								<a href="#" class="btn-setting"><i
									class="halflings-icon white wrench"></i></a> <a href="#"
									class="btn-minimize"><i
									class="halflings-icon white chevron-up"></i></a> <a href="#"
										class="btn-close"><i class="halflings-icon white remove"></i></a>
							</div>
						</div>
						<div class="box-content">

							<form class="form-horizontal" th:object="${servico}"
								method="post" th:action="@{/SolicitarServicos/novo}">
 
								<div class="alert alert-danger" role="alert"
									th:if="${#fields.hasAnyErrors()}">
									<th:block th:each="erro : ${#fields.detailedErrors()}">
										<div>

											<i class="fa-icon-exclamation-sign"> </i> <span
												th:text="${erro.message}"></span>
										</div>
									</th:block>
								</div>

								<div class="alert alert-success"
									th:if="${!#strings.isEmpty(mensagem)}">
									<span th:text="${mensagem}"></span>

								</div> 
								
								<input type="hidden" th:field="*{id}"></input>

								<div class="control-group">
									<label class="control-label" for="nomeCompleto">Serviço</label>
									<div class="controls">
										<div class="input-nome">
											
											<select id="tipoServicoSelect" th:field="*{tipoServico}">
												<option Value="">Selecione o Serviço</option>
												<option th:each="tipoServico : ${tipoServicos}" 
														th:value="${tipoServico}" th:text="${tipoServico}"></option>
											</select>
										</div>

									</div>
								</div>		
								
								<div class="control-group">
									<label class="control-label" for="nomeCompleto">Status</label>
									<div class="controls">
										<div class="input-nome">
											
											<select id="statusServicoSelect" th:field="*{status}">
												<option Value="">Selecione o Status</option>
												<option th:each="statusServico : ${statusServico}" 
														th:value="${statusServico}" th:text="${statusServico}"></option>
											</select>
										</div>

									</div>
								</div>							
								
								<div class="control-group">
									<label class="control-label" for="email">Descrição</label>
									<div class="controls">
										<div class="input-descricao">
											<input th:field="*{descricao}" id="descricaoInput" size="16"
												type="text" maxlength="60" required="required">
										</div>

									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="cpf">Valor Cobrado</label>
									<div class="controls">
										<div class="input-valorCobrado">
											<input th:field="*{valorCobrado}" id="valorCobradoInput"
												size="16" type="number" maxlength="11" required="required">
										</div>

									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="cpf">Valor Taxa</label>
									<div class="controls">
										<div class="input-valorTaxa">
											<input th:field="*{valorTaxa}" id="valorTaxaInput"
												size="16" type="number" maxlength="11" required="required">
										</div>

									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="nomeCompleto">CPF
										Cliente</label>
									<div class="controls">
										<div class="input-cpfCliente">
											<input th:field="*{cpfCliente}" id="cpfClienteInput" size="16"
												type="text" maxlength="11" required="required">
										</div>

									</div>
								</div>
								<div class="control-group">
										<label class="control-label" for="date01">Data
											Registro</label>
										<div class="controls">
											<input th:field="*{dataRegistro}" type="text"
												class="input-xlarge datepicker" id="dataRegistro"
												required="required" >
										</div>
									</div>
								<fieldset>


									<div class="form-actions">
										<button type="submit" class="btn btn-primary">Salvar</button>
										<button type="reset" class="btn">Cancelar</button>
									</div>
								</fieldset>
							</form>

						</div>
					</div>
					<!--/span-->

				</div>



			</div>

		</div>
	</div>



	<!--/fluid-row-->

	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a> <a href="#"
				class="btn btn-primary">Save changes</a>
		</div>
	</div>

	<div class="clearfix"></div>

	<footer>

		<p>
			<span style="text-align: left; float: left">&copy; 2017 <a
				href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/"
				alt="Bootstrap_Metro_Dashboard">MGA IT Innovation</a></span>

		</p>

	</footer>

	<!-- start: JavaScript-->

	<script th:src="@{/layout/js/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/layout/js/jquery-migrate-1.0.0.min.js}"></script>

	<script th:src="@{/layout/js/jquery-ui-1.10.0.custom.min.js}"></script>

	<script th:src="@{/layout/js/jquery.ui.touch-punch.js}"></script>

	<script th:src="@{/layout/js/modernizr.js}"></script>

	<script th:src="@{/layout/js/bootstrap.min.js}"></script>

	<script th:src="@{/layout/js/jquery.cookie.js}"></script>

	<script th:src="@{/layout/js/fullcalendar.min.js}"></script>

	<script th:src="@{/layout/js/jquery.dataTables.min.js}"></script>

	<script th:src="@{/layout/js/excanvas.js}"></script>
	<script th:src="@{/layout/js/jquery.flot.js}"></script>
	<script th:src="@{/layout/js/jquery.flot.pie.js}"></script>
	<script th:src="@{/layout/js/jquery.flot.stack.js}"></script>
	<script th:src="@{/layout/js/jquery.flot.resize.min.js}"></script>

	<script th:src="@{/layout/js/jquery.chosen.min.js}"></script>

	<script th:src="@{/layout/js/jquery.uniform.min.js}"></script>

	<script th:src="@{/layout/js/jquery.cleditor.min.js}"></script>

	<script th:src="@{/layout/js/jquery.noty.js}"></script>

	<script th:src="@{/layout/js/jquery.elfinder.min.js}"></script>

	<script th:src="@{/layout/js/jquery.raty.min.js}"></script>

	<script th:src="@{/layout/js/jquery.iphone.toggle.js}"></script>

	<script th:src="@{/layout/js/jquery.uploadify-3.1.min.js}"></script>

	<script th:src="@{/layout/js/jquery.gritter.min.js}"></script>

	<script th:src="@{/layout/js/jquery.imagesloaded.js}"></script>

	<script th:src="@{/layout/js/jquery.masonry.min.js}"></script>

	<script th:src="@{/layout/js/jquery.knob.modified.js}"></script>

	<script th:src="@{/layout/js/jquery.sparkline.min.js}"></script>

	<script th:src="@{/layout/js/counter.js}"></script>

	<script th:src="@{/layout/js/retina.js}"></script>

	<script th:src="@{/layout/js/custom.js}"></script>
	<!-- end: JavaScript-->

</body>
</html>
